#root {
  margin: 0 auto;
  text-align: center;
  --speed: 500ms;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hidden{
  display: none;
}

section {
  padding: 2rem;
  min-height: 500px;
  border: white solid;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity var(--speed);
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity var(--speed);
}


.article-load-enter {
  opacity: 0;
}
.article-load-enter-active {
  opacity: 1;
  transition: opacity var(--speed);
}
.article-load-exit {
  opacity: 1;
}
.article-load-exit-active {
  opacity: 0;
  transition: opacity var(--speed);
}
