#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hidden{
  display: none;
}

section {
  padding: 2rem;
  min-height: 500px;
  border: white solid;
}

nav{
  position: fixed;
  top: 2rem;
  height: 3rem;
  left: -1rem;
  background-color: rgba(0, 0, 0, 0.6);
  transform: skew(20deg);
  backdrop-filter: blur(5px);
  width: 75vw;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-link{
  min-width: 3rem;
  border-left: white solid;
  user-select: none ;
}

.nav-icon{
  transform: skew(-20deg);
  min-width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-link:hover{
  background-color: yellow;
}