#root {
  margin: 0;
  min-width: 100%;
  text-align: center;
  --speed: 200ms;
}

.logo {
  height: 60vw;
  will-change: filter;
  transition: filter 300ms;
  filter: brightness(90%);
}

/* this was unused but I added stuff to show how it works
   uncomment to see what this does */
/* @media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 200s linear;
  }

  @keyframes logo-spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(1turn);
    }
  }
} */

section {
  overflow: clip;
  height: max(500px, fit-content);
}

nav{
  position: fixed;
  top: 2rem;
  height: 3rem;
  left: -1rem;
  background-color: rgba(0, 0, 0, 0.6);
  transform: skew(20deg);
  backdrop-filter: blur(5px);
  width: 75vw;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 4;
}

.nav-link{
  min-width: 3rem;
  border-left: white solid;
  user-select: none ;
  transition: all 1s;
}

/* 1 : The image is relatively dark so the text is bright, even in light theme */

/* may be an icon or text */
.nav-icon{
  transform: skew(-20deg);
  min-width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #b5b9ff; /* 1 */
  transition: color 500ms;
}

/* I really like the hover and active effects (especially the gold color)
   but it doesn't work on the home icon */
.nav-icon:hover {
  color: #e3e5ff; /* 1 */
}

.nav-icon:active {
  color: gold;
  transition: none;
}

.nav-link:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.0) 80%, rgba(255, 255, 0, 0.884));
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.about-widget{
  height: max(90vh, fit-content);
  padding-bottom: 10vh;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .9)), url("https://static.wixstatic.com/media/5d9aa3_0d6f682c9ab94184a9d9282368a158a7~mv2.jpg/v1/fill/w_490,h_923,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5d9aa3_0d6f682c9ab94184a9d9282368a158a7~mv2.jpg");
  background-size: cover;
  background-position: 54% 19%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white; /* 1 */
}

.enroll-widget{
  justify-content: left;
}

.infobox{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-wrapper{
  display: flex;
  width: 90%;
}

/* the quotation is white, but in light theme the background is white */
@media (prefers-color-scheme: light) {
  .quotation {
    filter: invert(90%); /* 1 */
  }
}

.quotation{
  width: 4vw;
  height: 4vw;
}

.quotation-left{
  transform: translateY(-1.5rem);
}

.quotation-right{
  transform: translateY(calc(6rem)) rotateY(180deg);

}

.divider{
  margin-block: 3rem;
}



.title{
  margin-top: 0;
}

.widget{
  display: flex;
}
